 @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Italianno&display=swap'); 

body{
    background-color: goldenrod;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

h1, h2 {
    font-family:'Times New Roman', Times, serif;
    color: white;
    font:200

}

#my-avatar {
    width: 150px;
    border-radius: 50%;
}

#content {
    text-align: center;
}

#my-name {
    font-family: 'Italianno', cursive;
}