body{
    background-color: goldenrod;
    text-align: center;
}

h1, h2 {
    font-family:'Times New Roman', Times, serif;
    color: white;
    font:200

}

#my-avatar {
    width: 150px;
    border-radius: 50%;
}

#content {
    text-align: center;
}